services:
  bot:
    image: "ghcr.io/stp-team/stpsher:latest"
    container_name: stpsher
    stop_signal: SIGINT
    restart: always
    env_file:
      - ".env"
    volumes:
      - ./uploads:/app/uploads
    expose:
      - "8443"

    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

    networks:
      - stp_bots
      - caddy-network

  redis_cache:
    image: redis:8.0.5-alpine
    restart: always
    command: redis-server --port $REDIS_PORT --save 20 1 --loglevel warning --requirepass $REDIS_PASSWORD
    env_file:
      - ".env"
    volumes:
      - cache:/data

    networks:
      - stp_bots

volumes:
  cache: { }

networks:
  stp_bots:
    external: true
  caddy-network:
    external: true
