services:
  bot:
    image: "ghcr.io/stp-team/stpsher:latest"
    container_name: stpsher
    stop_signal: SIGINT
    restart: unless-stopped
    env_file:
      - ".env"
    volumes:
      - ./uploads:/app/uploads
    ports:
      - "8443:8443"
    labels:
      caddy: webhook.dom-stp.ru
      caddy.reverse_proxy: "{{upstreams 8443}}"

    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8443/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

    depends_on:
      redis_cache:
        condition: service_healthy

    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
        compress: "true"

    networks:
      - stp_bots
      - caddy

    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 512M
        reservations:
          memory: 256M

  cache:
    image: valkey/valkey:9-alpine3.23
    restart: unless-stopped

    command: >
      valkey-server --port $REDIS_PORT
      --save 20 1
      --loglevel warning
      --requirepass $REDIS_PASSWORD

    env_file:
      - ".env"

    volumes:
      - cache:/data

    networks:
      - stp_bots

    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 128M
        reservations:
          memory: 64M

volumes:
  cache: { }

networks:
  stp_bots:
    external: true
  caddy:
    external: true
