services:
  bot:
    image: "stpsher-bot"
    stop_signal: SIGINT
    build:
      context: .
    working_dir: "/usr/src/app/stpsher-bot"
    volumes:
      - .:/usr/src/app/stpsher-bot
    command: uv run bot.py
    restart: always
    env_file:
      - ".env"

    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

    networks:
      - stp_bots

  redis_cache:
    image: redis:7.4.5-alpine
    restart: always
    command: redis-server --port $REDIS_PORT --save 20 1 --loglevel warning --requirepass $REDIS_PASSWORD
    env_file:
      - ".env"
    ports:
      - "6379:6379"
    volumes:
      - cache:/data

    networks:
      - stp_bots

volumes:
  cache: { }

networks:
  stp_bots:
    external: true